@import '../_vars.scss';

$margin-between-telephones: 10px;

// color text
.color-base {
  color: map-get($m-colors, "font");
}
.color-white {
  color: #fff;
}
.color-primary {
  color: map-get($m-colors, "primary");
}

// align text
.text-center {
  text-align: center;
}

// titles
.title {
  margin-bottom: 0;
}
.subtitle {
  margin-top: 0;
}

// margin
.mt {
  margin-top: $m-space;
}
.mb {
  margin-bottom: $m-space;
}
.my {
  margin-top: $m-space;
  margin-bottom: $m-space;
}

.button-box {
  text-align: center;
  margin-top: 1rem;
}

.link-btn {
  background: map-get($m-colors, "primary");
  box-shadow: 0 5px 7px rgba(0,0,0,.3);
  color: #fff;
  display: block;
  text-align: center;
  padding: $m-space *.25 $m-space;
  border-radius: $m-space *.5;
  text-decoration: none;
  margin: $m-space auto 0;
  width: 150px;
  text-transform: uppercase;
  font-size: .9rem;
  &:hover {
    background: #0f42ff;
    box-shadow: 0 0px 0px rgba(0,0,0,.03);
    color: #fff;
  }
}
// .states {
//   .boton-interno {
//     background-color: #fff;
//     padding: 1rem 0 !important;
//   }
// }

// responsive view
@media only screen and (max-width: map-deep-get($m-queries, "laptop", "since")) {
  .hidden-mobile {
    display: none;
  }
}

ul.decoration {
  padding: 0;
  list-style-type: none;
}

ul.decoration2 {
  padding: 0;
  list-style-type: none;
  margin-left: -60px;
  margin-top: 25px;
}

ul.decoration li:first-child {
  margin-bottom: $margin-between-telephones;
}

ul.decoration li:last-child {
  margin-top: $margin-between-telephones;
}

ul.decoration li:not(:first-child):not(:last-child) {
  margin-top: $margin-between-telephones;
  margin-bottom: $margin-between-telephones;
}

.margin-left {
    margin-left: auto;
}

.margin-right {
    margin-right: auto;
}

.text-primary {
  color: map-get($m-colors, "primary");
}

.no-margin {
  h5 {
    margin-top: 0px;
  }
  p {
    margin-top: 0px;
  }
}
