@import '../_vars.scss';

$margin-between-telephones: 10px;

// color text
.color-base {
  color: map-get($m-colors, "font");
}
.color-white {
  color: #fff;
}
.color-primary {
  color: map-get($m-colors, "primary");
}

// titles
.title {
  margin-bottom: 0;
}
.subtitle {
  margin-top: 0;
}

.states {
  .boton-interno {
    background-color: #fff;
    padding: 1rem 0 !important;
  }
}

// responsive view
@media only screen and (max-width: map-deep-get($m-queries, "laptop", "since")) {
  .hidden-mobile {
    display: none;
  }
}

ul.decoration {
  padding: 0;
  list-style-type: none;
}

ul.decoration2 {
  padding: 0;
  list-style-type: none;
  margin-left: -60px;
  margin-top: 25px;
}

ul.decoration li:first-child {
  margin-bottom: $margin-between-telephones;
}

ul.decoration li:last-child {
  margin-top: $margin-between-telephones;
}

ul.decoration li:not(:first-child):not(:last-child) {
  margin-top: $margin-between-telephones;
  margin-bottom: $margin-between-telephones;
}

.margin-left {
    margin-left: auto;
}

.margin-right {
    margin-right: auto;
}

.text-primary {
  color: map-get($m-colors, "primary");
}

.no-margin {
  h5 {
    margin-top: 0px;
  }
  p {
    margin-top: 0px;
  }
}