.box-linea-violencia {
  padding: 2rem;
}

.titulo-lineas-violencia {
  text-align: left;
}

.atenciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.link-atenciones {

}

.iallevamediosita {
  align-content: center;
}
.atencion-text {
  margin: 0 auto .5rem auto;
}
