@import '../_vars.scss';

.home {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cover {
  img {
    max-width: 100%;
  }
}
.msg {
  color: map-get($m-colors, "primary");
  text-align: center;
  padding: 0 $m-space * .5;
  h1,
  p {
    margin: 0;
  }
}
.mobile-title {
  display: block;
  text-align: center;
}
.desk-title {
  display: none;
}

.states {
  text-align: center;
  width: 320px;
  margin: auto;
  position: relative;
  .states-action {
    border-radius: 3px;
    margin: $m-space auto 0;
    max-width: 320px;
    width: 320px;
  }
  .states-options {
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
    width: 320px;
    height: 27vh;
    overflow: scroll;
    position: absolute;
    top: 90px;
    .states-option {
      background: #fff;
      display: block;
      line-height: 3em;
      text-decoration: none;
    }
  }
}

@media only screen and (min-width: map-deep-get($m-queries, "laptop", "since")) {
  .home {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $m-max-width;
  }
  .msg {
    padding: 0 $m-space;
    max-width: 470px;
  }
  .mobile-title {
    display: none;
  }
  .desk-title {
    display: block;
  }
}
