@import '../_vars.scss';

.home {
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .cover {
    flex: 1;
  }
  .msg {
    padding: $m-space $m-space 0;
    text-align: center;
    h1 {
      color: map-get($m-colors, "primary");
      font-weight: 900;
      margin-bottom: 0;
    }
    h2 {
      color: map-get($m-colors, "primary");
      font-size: 22px;
      font-weight: 400;
      line-height: 1.3em;
    }
  }
}


.states {
  text-align: center;
  width: 320px;
  margin: auto;

  .states-action {
    border-radius: 3px;
    margin: $m-space auto 0;
    max-width: 320px;
    width: 320px;
  }

  .states-options {
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
    width: 320px;
    height: 27vh;
    overflow: scroll;
    position: absolute;
    bottom: 0;


    .states-option {
      background: #fff;
      display: block;
      line-height: 3em;
      text-decoration: none;
    }
  }
}
