@import '../_vars.scss';

.about-container {
  margin: auto;
  max-width: 1200px;
  padding-left: $m-space;
  padding-right: $m-space;

  h4 {
    color: map-get($m-colors, "primary");
    text-transform: uppercase;
  }
  .row {
    padding-top: $m-space;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &:nth-of-type(odd) {
      flex-direction: column-reverse;
    }
  }
  .col {
    flex: 0 0 45%;

    img {
      width: 100%;
    }
  }
}

.sponsors {
  background: map-get($m-colors, "bg-primary");
  padding-top: $m-space;
  padding-bottom: $m-space;
  text-align: center;

  h4 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  img {
    height: 70px;
  }
}

@media only screen and (min-width: map-deep-get($m-queries, "laptop", "since")) {
  .about-container {
    .row {
        padding-top: $m-space;
        padding-bottom: $m-space;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
      }
      .col {
        flex: 0 0 45%;
      }
  }
}
