@import '../_vars.scss';
.title {
  background-color: map-get($m-colors, "primary");
  color: #fff;
  border-radius: 0px 0px 47px 0px;
  h1 {
    color: #fff;
    font-size: 2.8rem;
  }
}

.box {
  background-color: #fff;
  box-shadow: 3px 4px 10px rgba(70, 79, 108, 0.27);
  border-radius: 19px;
  padding: 20px;
  flex: 1;
  display: flex;
  margin-top: 1rem;
  &.direction-column {
    flex-direction: column;
  }
  &.direction-row {
    flex-direction: row;
  }
}
.icon {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-decoration: none;
  div {
    display: flex;
    padding: 20px;
    width: 150px;
    height: 150px;
    justify-content: center;
    background-color: #fff;
    border-radius: 19px;
    box-shadow: 3px 4px 10px rgba(70, 79, 108, 0.27);
    margin-bottom: 20px;
    transition: .2s ease-out;
  }
  span {
    text-transform: uppercase;
  }
}
.icon:hover {
  div {
    box-shadow: 3px 4px 10px rgba(70, 79, 108, 0.5);
    transition: .1s ease-in;
  }
}
.badge {
  border-radius: 25px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 20px;
  text-transform: capitalize;
  &.badge-red {
    background-color: #E60000;
  }
  &.badge-orange {
    background-color: #F97700;
  }
  &.badge-yellow {
    background-color: #F6BC27;
  }
  &.badge-green {
    background-color: #6EAF1B;
  }
}



@media (max-width: 920px) {
  #codeandocovid > .container {
    flex-direction: column;
  }
  .mobileColumn {
    flex-direction: column!important;
  }
  .movileHide {
    display: none!important;
  }
  .title {
    border-radius: 0px;
  }
  .direction-grid{
    display: block!important;
  }
}

.button-container {
  display: "flex";
  justify-content: "center";
  align-items: "center";
}
