@import "../_vars.scss";
.states {
  text-align: center;
  width: 320px;
  margin: auto;
  position: relative;
  &.white {
    button {
      background: white;
      color: #5176ff;
      border-radius: 1rem;
      height: 4rem;
    }
    .states-options {
      top: 120px;
    }
  }
  .states-action {
    border-radius: 3px;
    margin: $m-space auto 0;
    max-width: 320px;
    width: 320px;
  }
  .states-options {
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    width: 320px;
    height: 27vh;
    overflow: scroll;
    position: absolute;
    top: 90px;
    .states-option {
      background: #fff;
      display: block;
      line-height: 3em;
      text-decoration: none;
      &.active {
        background: #5176ff;
        color: #fff;
      }
    }
  }
}
