@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

$m-font-family: 'Poppins', 'Roboto', sans-serif;
$m-font-size: 17px;
$m-font-weight: 400;
$m-letter-spacing: normal;
$m-line-height: 1.4em;

$m-code-family: monospace;

$m-em-family: serif;

$m-h-family: 'Poppins', 'Roboto', sans-serif;
$m-h-size: 17px;
$m-h-height: 1em;
$m-h-spacing: normal;
$m-h-weight: 700;
$m-h-style: normal;
$m-h-transform: normal;

$m-colors: (
  "background": #fff,
  "font": #3C4874,
  "primary": #5176FF,
  "bg-primary": #DFE6FF
);

$m-queries: (
  "phone": (
    "since": 320px,
    "until": 767px,
  ),
  "tablet": (
    "since": 768px,
    "until": 1024px,
  ),
  "laptop": (
    "since": 1025px,
    "until": 1599.99px,
  ),
  "desktop": (
    "since": 1600px,
    "until": 99999px,
  )
);

$m-space: 50px;
$m-max-width: 1400px;
