@charset "UTF-8";

@import '_vars.scss';
@import '../node_modules/mol-normalize/scss/_normalize.scss';


html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100vh;
  padding: 0;
  display:flex;
  flex-direction:column;
}

#codeandocovid {
  height: 100%;
  display: flex;
  flex-direction: column;
}
