@import '../_vars.scss';

footer {
  background-color: map-get($m-colors, "primary");
  color: rgba(255,255,255,.7);
  margin-top: $m-space;
}

.footer {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $m-space * .5;
  text-align: center;
  font-size: 15px;
  line-height: 1em;
  
  .footer-link {
    color: #fff;
  }

  .footer-social {
    display: flex;
    align-items: center;
    flex-direction: column;
    .footer-redes {
      margin-top: 1rem;
      margin-left: .5rem;
      height: 28px;
    }
  }

}


@media only screen and (min-width: map-deep-get($m-queries, "laptop", "since")) {
  footer {
    margin: 0;
  }
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 $m-space;
    margin: 0 auto;
    max-width: $m-max-width;
    .footer-social {
      flex-direction: row;
      .footer-redes {
        margin-top: 0;
      }
    }
  }
}
