@import '../_vars.scss';
.nav-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $m-space*.5 0;
  flex-direction: column;
  font-size: 15px;
}
.nav-codeando {
  max-width: 100%;
}
.nav-redes {
  margin-left: .5rem;
  height: 28px;
}
.nav-sobre {
  display: none;
}

@media only screen and (min-width: map-deep-get($m-queries, "tablet", "since")) {
  .nav-main {
    padding: $m-space;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - #{$m-space * 2});
    margin: 0 auto;
    max-width: $m-max-width;
  }
  .nav-sobre {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .nav-link {
    text-transform: uppercase;
    text-decoration: none;
  }
}
