@import '../_vars.scss';
.nav-main {
  display: flex;
  align-items: center;
  padding: $m-space 0 0 0;
  margin: 0 auto;
  max-width: $m-max-width;
  flex-direction: column;
}
.nav-codeando {
  width: 148.5px;
}

.nav-link {
  font-size: 12.5px;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-redes {
  margin-left: 10px;
  height: 30px;
}

.nav-sobre {
  display: none;
}


@media only screen and (min-width: map-deep-get($m-queries, "tablet", "since")) {
  .nav-main {
    padding: $m-space;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
  }
  .nav-codeando {
    width: 198px;
  }
  .nav-link {
    font-size: 15px;
  }

  .nav-redes {
    margin-left: 10px;
    height: 40px;
  }

  .nav-sobre {
    display: flex;
    align-items: center;
    flex-direction: row;
    > * {
      padding: 5px;
    }
  }

}
